<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>留言板</title>
		<link rel="stylesheet" type="text/css" href="js/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container" id="app">
			<form role="form">
				<div class="form-group">
					<label for="user-name">用户名：</label>
					<input type="text" id="user-name" class="form-control" placeholder="输入用户名" v-model="username"/>
				</div>
				<div class="form-group">
					<lable for="age">年   龄：</lable>
					<input type="text" id="age" class="form-control" placeholder="请输入年龄" v-model="age"/>
				</div>
				<div class="form-group">
					<input type="button" value="添加" class="btn btn-primary" v-on:click="add()"/>
					<input type="reset" value="重置" class="btn btn-danger" />
				</div>
				<hr/>
				<table class="table table-bordered table-hover">
					<caption class="h2 text-info text-center">用户信息表</caption>
					<tr class="text-danger">
						<th class="text-center">序号</th>
						<th class="text-center">姓名</th>
						<th class="text-center">年龄</th>
						<th class="text-center">操作</th>
					</tr>
					<tr class="text-center" v-for="(item,index) in myData">
						<td>{{index+1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.age}}</td>
						<td>
						 <buttom class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="newIndex=index">删除</buttom>
						</td>
					</tr>
					<tr v-show="myData.length!=0">
						<td colspan="4" class="text-right">
							<button class="btn btn-danger btn-sm" v-on:click="newIndex=-2" data-toggle="modal" data-target="#layer">全部删除</button>
						</td>
					</tr>
					<tr v-show="myData.length==0">
						<td colspan="4" class="text-center text-warning">
							<p>暂无数据...........</p>
						</td>
					</tr>
				</table>
				<!--模态框-->
				<div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="model-header btn-lg">
								<button class="close" data-dismiss="modal" type="button">
									<span>&times;</span>
								</button>
								<h4 class="modal-title">确认删除吗？</h4>
								<hr/>
							</div>
							<div class="modal-body text-right">
								<button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
								<button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg(newIndex)">确认</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script>
		new Vue({
			el:'#app',
			data:{//数据
				myData:[],
				username:'',
				age:'',
				newIndex:''
			},
			methods:{
				add:function(){
					this.myData.push({
						name:this.username,
						age:this.age
					});
					this.username='';
					this.age='';
				},
				deleteMsg:function(n){
					if(n==-2){
						this.myData=[];
					}else{
						this.myData.splice(n,1);
					}
				}
			}
		})
	</script>
</html>
